<nav class="navbar navbar-light">

    <nav class="nav">
        <a class="navbar-brand" href="#">
            <img src="https://d1ly52g9wjvbd2.cloudfront.net/post/94c2c3021c6d6623a2eb0a42773d81ac_08ed8c07733b28ae0a2abdca21042d88.jpg"
            class="img-fluid" alt="" width="200" height="200"> 
        </a>
    </nav>

    <ul class="nav">
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Model S
        </a></li>
    
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Model 3
        </a></li>
    
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Model X
        </a></li>
    
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Model Y
        </a></li>
    
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Solar Roof
        </a></li>
    
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Solar Panels
        </a></li>
    </ul>

    <ul class="nav">
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Shop
        </a></li>
    
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Account
        </a></li>
    
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Menu
        </a></li>
    </ul>
</nav>