<nav class="navbar navbar-light">
    <nav class="nav">
        <li routerLink="navbar-brand" href="/layout-main">
            <img src="./assets/teslalogo.png" class="img-fluid" width="150"> 
        </li>
    </nav>

    <ul class="nav">
        <li routerLink="nav-item"><a class="nav-link text-black" href="/modelSlayout">
            Model S
        </a></li>
    
        <li routerLink="nav-item"><a class="nav-link text-black" href="/model3layout">
            Model 3
        </a></li>
    
        <li routerLink="nav-item"><a class="nav-link text-black" href="/modelXlayout">
            Model X
        </a></li>
    
        <li routerLink="nav-item"><a class="nav-link text-black" href="/modelYlayout">
            Model Y
        </a></li>
    
        <li routerLink="nav-item"><a class="nav-link text-black" href="/solarRooflayout">
            Solar Roof
        </a></li>
    
        <li routerLink="nav-item"><a class="nav-link text-black" href="/solarPanelslayout">
            Solar Panels
        </a></li>
    </ul>

    <ul class="nav">
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Shop
        </a></li>
    
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Account
        </a></li>

        <li class="nav-item"><a class="nav-link text-black" href="#">
            Menu
        </a></li>

    </ul>    

</nav>

