<nav class="navbar navbar-light">
    <nav class="nav">
        <a class="navbar-brand" href="#">
            <img src="./assets/teslalogo.png" class="img-fluid" width="150"> 
        </a>
    </nav>

    <ul class="nav">
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Model S
        </a></li>
    
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Model 3
        </a></li>
    
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Model X
        </a></li>
    
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Model Y
        </a></li>
    
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Solar Roof
        </a></li>
    
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Solar Panels
        </a></li>
    </ul>

    <ul class="nav">
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Shop
        </a></li>
    
        <li class="nav-item"><a class="nav-link text-black" href="#">
            Account
        </a></li>

        <li class="nav-item"><a class="nav-link text-black" href="#">
            Menu
        </a></li>

    </ul>    

</nav>

