<nav class="navbar navbar-light">

    <nav class="nav">
        <a class="navbar-brand" href="#">
            
        </a>
    </nav>

    <ul class="nav">

        <li class="nav-item"><a class="nav-link text-secondary" href="#">
                Tesla © 2021
            </a></li>

        <li class="nav-item"><a class="nav-link text-secondary" href="#">
                Privacy & Legal
            </a></li>

        <li class="nav-item"><a class="nav-link text-secondary" href="#">
                Contact
            </a></li>

        <li class="nav-item"><a class="nav-link text-secondary" href="#">
                Careers
            </a></li>

        <li class="nav-item"><a class="nav-link text-secondary" href="#">
                News
            </a></li>

        <li class="nav-item"><a class="nav-link text-secondary" href="#">
                Engage
            </a></li>

        <li class="nav-item"><a class="nav-link text-secondary" href="#">
                Locations
            </a></li>

    </ul>

    <nav class="nav">
        <a class="navbar-brand" href="#">
            
        </a>
    </nav>

</nav>